<!DOCTYPE html>
<html lang="en">

<head>
  <title>Internship Feedbacks - FeedbackHUT</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <%-include('../components/header')%>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <%-include('../components/navbar')%>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Internship Feedbacks (Analysis)</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin-feedback/dashboard">Home</a></li>
          <li class="breadcrumb-item">Feebacks</li>
          <li class="breadcrumb-item active">Internship Feedbacks</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">

        <form action="/admin-feedback/analysis/internship" method="post" class="row g-3 needs-validation" novalidate>
          <div class="mb-3 col-md-2">
            <label for="acadyear" class="form-label">Academic Year</label>
            <select name="acadyear" class="form-select" required>
                <option value="" selected>Choose Academic Year</option>
                <%dates.forEach((element)=>{%>
                  <option value="<%=element%>"><%=element%></option>
                <%})%>
            </select>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please select Academic Year.</div>
          </div>

          <div class="mb-3 col-md-2">
            <label for="place" class="form-label">Place</label>
            <input type="text" class="form-control" name="place" placeholder="Place of Internship" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter Place of Internship.</div>
          </div>
          
          <div class="mb-3 col-md-2">
            <label for="date" class="form-label">Date of Visit</label>
            <input type="date" class="form-control" name="date" required>
          </div>

          <div class="mb-3 col-md-3">
            <label for="department" class="form-label">Department</label>
            <select name="department" class="form-select" required>
                <option value="" selected>Choose Department</option>
                <option value="Computer Engineering">Computer Engineering</option>
                <option value="Information Technology">Information Technology</option>
                <option value="Electronics and Telecommunication">Electronics and Telecommunication</option>
                <option value="Mechanical Engineering">Mechanical Engineering</option>
                <option value="Electrical Engineering">Electrical Engineering</option>
            </select>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please select Department.</div>
          </div>
          
          <div class="col-md-3">
            <button type="submit" class="btn btn-primary" style="margin-top:11%">Submit</button>
          </div>  
        </form>
      </div>
    </section>
    
    <%if(noents==true){%>
      <div class="text-center">
        <h5> No Data found!</h5>
      </div>
    <%}%>  

    <%if(!(avgsint && Object.keys(avgsint).length === 0 && Object.getPrototypeOf(avgsint) === Object.prototype) && noents==false) {%>
    
      <div class="row g-2">   
        <div class="card">
        <table width="100%" class="table">
          <br>
          <thead>
            <tr>
              <th>Sr. No</th>
              <th>Particulars</th>
              <th>Average Marks</th>
          </tr>
          </thead>
          <tbody>
            
              <tr>
                  <td>1</td>
                  <td>The outcomes of the Internships were clearly defined</td>
                  <td><%=avgsint.outcomes%></td>
              </tr>

              <tr>
                <td>2</td>
                <td>The content covered were relevant to the expected Internship outcomes</td>
                <td><%=avgsint.contents%></td>
              </tr>

              <tr>
                <td>3</td>
                <td>The session and the trainers has enhanced the understanding of the subject knowledge</td>
                <td><%=avgsint.session%></td>
              </tr>
              
              <tr>
                <td>4</td>
                <td>The duration and the scheduling of the session was satisfactory</td>
                <td><%=avgsint.duration%></td>                         
              </tr>
            
              <tr>
                <td>5</td>
                <td>The Internship was very informative and excellent</td>
                <td><%=avgsint.informative%></td>
              </tr>

          </tbody>
        </table>
        </div>
      </div>
    <section class="section">
      <div class="row">
        
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Internship Feedbacks</h5>

              <!-- Bar Chart -->
              <div id="barChart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#barChart"), {
                    series: [{
                      name: 'Average Marks',
                      data: ['<%=avgsint.outcomes%>', '<%=avgsint.contents%>', '<%=avgsint.session%>', '<%=avgsint.duration%>', '<%=avgsint.informative%>']
                    }],
                    chart: {
                      type: 'bar',
                      height: 350
                    },
                    plotOptions: {
                      bar: {
                        borderRadius: 4,
                        horizontal: true,
                      }
                    },
                    dataLabels: {
                      enabled: false
                    },
                    xaxis: {
                      categories: ['The Outcomes of the Intersnship were clearly defined', 
                        'The content covered were relevant to the expected internship outcomes',
                        'The session and the trainers has enhanced the understanding of the subject knowledge',
                        'The duration and the scheduling of the session was satisfactory',
                        'The internship was very informative and excellent',
                          
                      ],
                    }
                  }).render();
                });
              </script>
              <!-- End Bar Chart -->

            </div>
          </div>
        </div>


        

      </div>
    </section>
    <%}%>
  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/chart.js/chart.min.js"></script>
  <script src="/vendor/echarts/echarts.min.js"></script>
  <script src="/vendor/quill/quill.min.js"></script>
  <script src="/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/vendor/tinymce/tinymce.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/javascripts/main.js"></script>


</body>

</html>