<!DOCTYPE html>
<html lang="en">

<head>
  <title>Parents Feedbacks - FeedbackHUT</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/images/favicon.png" rel="icon">
  <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <%-include('../components/header')%>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <%-include('../components/navbar')%>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Parents Feedbacks (Analysis)</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin-feedback/dashboard">Home</a></li>
          <li class="breadcrumb-item">Feebacks</li>
          <li class="breadcrumb-item active">Parents Feedbacks</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">

        <form action="/admin-feedback/analysis/parent" method="post" class="row g-3 needs-validation" novalidate>
          <div class="mb-3 col-md-3">
            <label for="acadyear" class="form-label">Academic Year</label>
            <select name="acadyear" class="form-select" required>
                <option value="" selected>Choose Academic Year</option>
                <%dates.forEach((element)=>{%>
                  <option value="<%=element%>"><%=element%></option>
                <%})%>
            </select>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please select Academic Year.</div>
          </div>
          
          <div class="col-md-3">
            <button type="submit" class="btn btn-primary" style="margin:11%">Submit</button>
          </div>  
        </form>
      </div>
    </section>
    
    <%if(noents==true){%>
      <div class="text-center">
        <h5> No Data found!</h5>
      </div>
    <%}%>  

    <%if(!(avgspa && Object.keys(avgspa).length === 0 && Object.getPrototypeOf(avgspa) === Object.prototype) && noents==false) {%>
    
      <div class="row g-2">   
        <div class="card">
        <table width="100%" class="table">
          <br>
          <thead>
            <tr>
              <th>Sr. No</th>
              <th>Particulars</th>
              <th>Average Marks</th>
          </tr>
          </thead>
          <tbody>
            
              <tr>
                  <td>1</td>
                  <td>Admission Procedure	</td>
                  <td><%=avgspa.admission%></td>
              </tr>

              <tr>
                <td>2</td>
                <td>Infrastructure and Lab facility	</td>
                <td><%=avgspa.infrastructure%></td>
              </tr>

              <tr>
                <td>3</td>
                <td>Library</td>
                <td><%=avgspa.library%></td>
              </tr>
              
              <tr>
                <td>4</td>
                <td>Canteen and other facility</td>
                <td><%=avgspa.canteen%></td>                         
              </tr>
            
              <tr>
                <td>5</td>
                <td>Sports and Extra Curricular activities</td>
                <td><%=avgspa.sports%></td>
              </tr>

              <tr>
                <td>6</td>
                <td>Student's counseling and Mentoring</td>
                <td><%=avgspa.counseling%></td>
              </tr>

              <tr>
                <td>7</td>
                <td>Use of Information and Communication Tecnhonology in the college	</td>
                <td><%=avgspa.ict%></td>                         
              </tr>

              <tr>
                <td>8</td>
                <td>Academic Discipline (i.e timely conduct of lectures, practical and related activiteis) observed by you	</td>
                <td><%=avgspa.discipline%></td>
              </tr>

              <tr>
                <td>9</td>
                <td>Improvements in soft skills, knowledge, ethics, morality, oberved by you in your ward while studying in college	</td>
                <td><%=avgspa.improvements%></td>                                                
              </tr>

              <tr>
                <td>10</td>
                <td>Examination system adopted by the college</td>
                <td><%=avgspa.adopted%></td>                      
              </tr>

              <tr>
                <td>11</td>
                <td>Evaluation and Feedback mechanism</td>
                <td><%=avgspa.evaluation%></td>                       
              </tr>

              <tr>
                <td>12</td>
                <td>Placements</td>
                <td><%=avgspa.placements%></td>                        
              </tr>

          </tbody>
        </table>
        </div>
      </div>
    <section class="section">
      <div class="row">
      
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Parents Feedbacks </h5>
              
              <div id="barChart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#barChart"), {
                    series: [{
                      name: 'Average Marks',
                      data: ['<%=avgspa.admission%>', '<%=avgspa.infrastructure%>', '<%=avgspa.library%>', '<%=avgspa.canteen%>', '<%=avgspa.sports%>', '<%=avgspa.counseling%>', '<%=avgspa.ict%>','<%=avgspa.discipline%>', '<%=avgspa.improvements%>', '<%=avgspa.adopted%>', '<%=avgspa.evaluation%>', '<%=avgspa.placements%>']
                    }],
                    chart: {
                      type: 'bar',
                      height: 600
                    },
                    plotOptions: {
                      bar: {
                        borderRadius: 4,
                        horizontal: true,
                      }
                    },
                    dataLabels: {
                      enabled: false
                    },
                    xaxis: {
                      categories: ['Admission Procedure',
                      'Infrastructure and Lab facility',
                      'Library',
                      'Canteen and other facility',
                      'Sports and Extra Curricular activities',
                      'Student\'s counseling and Mentoring',
                      'Use of Information and Communication Tecnhonology in the college',
                      'Academic Discipline (i.e timely conduct of lectures, practical and related activiteis) observed by you',
                      'Improvements in soft skills, knowledge, ethics, morality, oberved by you in your ward while studying in college',
                      'Examination system adopted by the college',
                      'Evaluation and Feedback mechanism',
                      'Placements'
                      ],
                    }
                  }).render();
                });
              </script>
              
            </div>
          </div>
        </div>

      </div>
    </section>
    <%}%>
  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/chart.js/chart.min.js"></script>
  <script src="/vendor/echarts/echarts.min.js"></script>
  <script src="/vendor/quill/quill.min.js"></script>
  <script src="/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/vendor/tinymce/tinymce.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/javascripts/main.js"></script>


</body>

</html>