<!DOCTYPE html>
<html lang="en">

<head>
  
  <title>Manage Students | Feedback System</title>
  <%-include('../components/head')%>

</head>

<body>

  <!-- ======= Header ======= -->
  <%-include('../components/header')%>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <%-include('../components/navbar')%>
  
  <main id="main" class="main">
    <a href="/admin-feedback/students/add-student" class="btn btn-sm btn-outline-primary float-end"><i class="bi bi-person-plus-fill"></i>  Add Students</a>

    <div class="pagetitle">
      <h1>Students</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin-feedback/dashboard">Home</a></li>
          <li class="breadcrumb-item active">Students</li>
        </ol>

      </nav>

    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              
              <!-- Table with stripped rows -->
              <table width="100%" class="table table-hover datatable">
                <br>
                <thead>
                  <tr>
                    <th>Roll Number</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Parent Email</th>
                    <th>Department</th>
                    <th>Address</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                  <% students.forEach(function(element){ %>
                    <tr>
                        <td><%=element.rollno%></td>
                        <td><%=element.name%></td>
                        <td><%=element.email%></td>
                        <td><%=element.parent_email%></td>
                        <td><%=element.department%></td>
                        <td><%=element.address%></td>

                        <td class="text-end">
                            <a href='/admin-feedback/students/edit-student?id=<%=element._id%>&rollno=<%=element.rollno%>&name=<%=element.name%>&email=<%=element.email%>&parent_email=<%=element.parent_email%>&department=<%=element.department%>&address=<%=element.address%>' class="btn btn-outline-info btn-rounded"><i class="bi bi-pen"></i></a>
                            <a href="/admin-feedback/students/delete-student?id=<%=element._id%>" class="btn btn-outline-danger btn-rounded"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                   <% }); %>
                  
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  
  <!-- Vendor JS Files -->
    <%-include('../components/vendor')%>


</body>

</html>