<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin Dashboard | Feedback System</title>
  <%-include('components/head')%>
</head>

<body>

  <!-- ======= Header ======= -->
  <%-include('components/header')%>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <%-include('components/navbar')%>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin-feedback/dashboard">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Total Feedbacks -->
            <div class="col-xxl-3 col-md-4">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <br>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-newspaper"></i>
                    </div>
                    <div class="ps-3">
                      <h6><%=total%></h6>
                       <span class="text-muted small pt-2 ps-1">Total Feedbacks</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Positive Feedbacks -->
            <div class="col-xxl-3 col-md-4">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <br>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-emoji-smile"></i>
                    </div>
                    <div class="ps-3">
                      <h6><%=positive%></h6>
                      <span class="text-muted small pt-2 ps-1">Positive Feedbacks</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Positive Feedbacks -->


            <!-- Negative Feedbacks -->
            <div class="col-xxl-3 col-md-4">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <br>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-exclamation-square" style="color:red;"></i>
                    </div>
                    <div class="ps-3">
                      <h6><%=negative%></h6>
                      <span class="text-muted small pt-2 ps-1">Negative Feedbacks</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Negative Feedbacks -->
            
          </div>
          
          <div class="row">
            <!-- staff Feedbacks -->
            <div class="col-xxl-3 col-md-4">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <br>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-person"></i>
                    </div>
                    <div class="ps-3">
                      <h6><%=staff %></h6>
                      <span class="text-muted small pt-2 ps-1">Staff Feedbacks</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End staff Feedbacks -->

            <!-- Internship Feedbacks -->
            <div class="col-xxl-3 col-md-4">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <br>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-clipboard-check"></i>
                    </div>
                    <div class="ps-3">
                      <h6><%=internshiptotal%></h6>
                      <span class="text-muted small pt-2 ps-1">Internship Feedbacks</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Internship Feedbacks -->

            <!-- iv Feedbacks -->
            <div class="col-xxl-3 col-md-4">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <br>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-card-heading"></i>
                    </div>
                    <div class="ps-3">
                      <h6><%=visits%></h6>
                      <span class="text-muted small pt-2 ps-1">I.V. Feedbacks</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End iv Feedbacks -->

            <!-- seminars Feedbacks -->
            <div class="col-xxl-3 col-md-4">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <br>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-card-list"></i>
                    </div>
                    <div class="ps-3">
                      <h6><%=seminars%></h6>
                      <span class="text-muted small pt-2 ps-1">Seminar Feedbacks</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End seminar Feedbacks -->

            <!-- alumni Feedbacks -->
            <div class="col-xxl-3 col-md-4">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <br>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people-fill"></i>
                    </div>
                    <div class="ps-3">
                      <h6><%=alumnis%></h6>
                      <span class="text-muted small pt-2 ps-1">Alumni Feedbacks</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End alumni Feedbacks -->

            <!-- exit Feedbacks -->
            <div class="col-xxl-3 col-md-4">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <br>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-box-arrow-right"></i>
                    </div>
                    <div class="ps-3">
                      <h6><%=exits%></h6>
                      <span class="text-muted small pt-2 ps-1">Exit Feedbacks</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End exit Feedbacks -->

            <!-- parent Feedbacks -->
            <div class="col-xxl-3 col-md-4">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <br>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-person"></i>
                    </div>
                    <div class="ps-3">
                      <h6><%=parents%></h6>
                      <span class="text-muted small pt-2 ps-1">Parent Feedbacks</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End parent Feedbacks -->
          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>


  </main><!-- End #main -->



  <!-- Vendor JS Files -->
  <%-include('components/vendor')%>


</body>

</html>